---
const { title } = Astro.props;
---

<div class="card">
	<div class="card-image">
		<figure class="image is-401x300">
			<slot />
		</figure>
	</div>
	<div class="card-footer">
		<a href="" class="card-footer-item">{title}</a>
	</div>
</div>

<style>
	.card,
	card-image,
	image {
		border: 1px solid black;
		border-radius: 0.25rem;
	}
	.card-footer-item {
		font-weight: 600;
	}
</style>
