---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Card from "../components/Card.astro";
import { Image } from "astro:assets";
import "../assets/css/index.css";

//Images
import img1 from "/public/illustration1.jpg";

const carditems = [
	{
		header: "Electronics",
		image: "https://images.pexels.com/photos/2047905/pexels-photo-2047905.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1",
		link: "/electronics",
	},
	{
		header: "Home Decor",
		image: "https://images.pexels.com/photos/1148955/pexels-photo-1148955.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1",
		link: "/house_decor",
	},
	{
		header: "House Appliances",
		image: "https://images.pexels.com/photos/6125666/pexels-photo-6125666.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1",
		link: "/house_appliances",
	},
	{
		header: "Automobiles",
		image: "https://images.pexels.com/photos/2882234/pexels-photo-2882234.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1",
		link: "/automobile",
	},
];
---

<Layout title="PickWise">
	<Navbar />
	<div class="hero is-fullheight-with-navbar">
		<main class="container is-widescreen">
			<div class="columns fullheight is-flex is-align-items-center">
				<div
					class="column is-flex is-justify-content-center is-align-items-start is-flex-direction-column"
				>
					<div class="brand_name">Pick<span>Wise</span></div>
					<p class="title is-5">Your Guide to Better Picks</p>
					<p>
						PickWise is a cutting-edge decision-making platform that
						helps users make smarter choices based on data-driven
						insights.
					</p>
					<button class="button is-link mt-4">Read more</button>
				</div>
				<div
					class="column img is-hidden-touch is-flex is-justify-content-center is-align-items-center"
				>
					<Image src={img1} alt="This is img" width={600} />
				</div>
			</div>
		</main>
	</div>
	<div class="section sec_1" id="product">
		<main class="container">
			<div class="test">
				{
					carditems.map((items) => (
						<a href={items.link}>
							<Card title={items.header} class="">
								<img
									src={items.image}
									alt="card image"
									class="card_img"
								/>
							</Card>
						</a>
					))
				}
			</div>
		</main>
	</div>
</Layout>

<style>
	img {
		width: 500px;
		height: 400px;
	}
</style>
