---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
---

<Layout title="Login">
	<Navbar />
	<div class="section">
		<div id="login" class="login_form">
			<div class="container_2">
				<form
					id="loginform"
					class="is-flex is-justify-content-space-evenly is-flex-direction-column px-6"
				>
					<div class="container">
						<h1 class="subtitle is-4 is-uppercase">
							register /
							<a href="/login">sign in</a>
						</h1>
						<input
							id="name"
							class="input is-medium is-link my-3"
							type="text"
							placeholder="Name"
							name="username"
						/>
						<input
							id="email"
							class="input is-medium is-link my-3"
							type="text"
							placeholder="Email"
							name="email"
						/>
						<input
							id="password"
							class="input is-medium is-link my-3"
							type="text"
							placeholder="Password"
							name="password"
						/>
					</div>

					<div class="btns">
						<button
							id="btn"
							class="button is-medium is-link"
							type="submit">Submit</button
						>
						<button class="button is-medium is-danger"
							>Cancel</button
						>
					</div>
				</form>
			</div>
		</div>
	</div>

	<script src="../assets/js/form_register.js"></script>
</Layout>

<style>
	.container_1,
	.container_2 {
		width: 40%;
		height: auto;
		display: grid;
		place-content: center;
	}
	.container_2 {
		background-color: #fff;
		padding: 2.5rem;
		border-radius: 15px;
	}
	.container_1 > figure > img {
		border-radius: 20px 0px 0px 20px;
	}
	form {
		gap: 1rem;
		height: 40dvh;
	}
	.section {
		width: 100dvw;
		height: 100dvh;
	}
	.login_form,
	.section {
		height: 90dvh;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.login_form {
		width: 80dvw;
		background-image: url("../assets/img/beautiful-transformed.png");
		background-repeat: no-repeat;
		background-size: cover;
		object-fit: cover;
		border-radius: 20px;
	}
</style>
