---
import Layout from "../layouts/Layout.astro";

const res = await fetch("http://localhost:4321/api/data");
const data: any = await res.json();

console.log(data);
---

<Layout title="Testing">
	<main>
		<div class="title">{}</div>
	</main>
</Layout>
