
/* This Css is for Desktop and mobile mixed */

.fullheight {
	height: 90dvh;
	gap: 4rem;
}
.brand_name {
	font-size: 110px;
	font-weight: 800;
}
.brand_name > span {
	color: #485fc7;
}
.card-image{
	width: 320px;
}
.sec_1{
	height: 100dvh;
	justify-content: center;
}
.test , .sec_1 {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

/* Only media querys here */

@media screen and (max-width: 1024px) {
	.brand_name{
		font-size: 75px;
	}
}
